
.preturi {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 3.4375rem;
    height: 1.75rem;
    margin-left: 1.25rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .heading{
      text-align: center;
      margin-top: 3.125rem;
      text-shadow: 1px 1px 2px;
      margin-bottom: 3.4375rem;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DBD9D9;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.375rem;
    width: 1.375rem;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked+.slider {
    background-image: linear-gradient(to left, #fdc468, #df4996);
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked+.slider:before {
    background-color: #1f212e;
    transform: translateX(25px);
  }
  
  :root {
    --bg-color: hsl(230, 17%, 14%);
    --top-bg-color: #2ec697;
    --font-h1-color:#fff;
    --font-h2-color: ;
    --font-p-color: hsl(228, 34%, 66%);
    --font-subs-color: hsl(228, 34%, 66%);
    --box-color: hsl(228, 28%, 20%);
    --box-hover: hsl(228, 28%, 25%);
  }
  
  [data-theme="light"] {
    --bg-color: black;
    --top-bg-color: black;
    --font-h1-color: black;
    --font-h2-color: hsl(163, 72%, 41%);
    --font-p-color: hsl(228, 12%, 44%);
    --font-subs-color: ;
    --box-color: hsl(227, 47%, 96%);
    --box-hover: hsl(227, 20%, 85%);
  }
  

  
 
  
  .wrapper{
    width: 90%;
  }
  
  .bg {
    width: 100%;
    height: 20.1875rem;
    position: absolute;
    z-index: -1;
    background-color: var(--top-bg-color);
  }

  .dark-mode {
    padding-top: 1.0625rem;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;
    border-top: solid 1px;
    justify-content: space-between;
  }
  
  /* .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
  } */
  
  .social-media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 320px));
    justify-content: center;
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.875rem;
    margin-bottom: 3.125rem;
    margin-top: -5.3125rem;
  }
  
  .bg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 5px;
    @include breakpoint-down(medium ){
      margin-bottom: 45px;
    }
  }
  
  .bg-box:hover {
    background-color: var(--box-hover);
    transform: scale(1.05);
  }
  
  .icon {
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 15px;
  }
  
  .icon h5 {
    display: inline-block;
    padding-left: 0.625rem;
    color: var(--font-p-color);
  }

  


  
  .followers {
    font-weight: 700;
    color: var(--font-h1-color);
    height: 5.625rem;
    width: 19.375rem;
    text-align: center;
    
  }
  
  .f-text {
    color: var(--font-p-color);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 0.7rem;
  }
  
  .daily {
    height: 12.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  
  
  .down {
    color: #dc414c !important;
  }
  
  .fb {
    border-top: 5px solid #198ff5;
  }
  
  .tiktok {
    background-image: linear-gradient(to right, #4de8f4,#fd3e3e);
    background-color: unset;
  }
  .tiktok-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    width: 100%;
    margin-top: 5px;
    height: 99%;
    border-radius: 2px;
   
  }
  .tiktok-container:hover{
    background-color: var(--box-hover);
    transform: scale(1.05);
    margin-top: 0.9375rem;
    width: 96%;
    
  }
  .insta {
    background-image: linear-gradient(to right, #fdc468, #df4996);
    background-color: unset;
  }
  
  .insta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    width: 100%;
    margin-top: 5px;
    height: 99%;
   border-radius: 2px;
    
  }
  
  .insta-container:hover{
    background-color: var(--box-hover);
    transform: scale(1.05);
    margin-top: 0.9375rem;
    width: 96%;
  }
  
  .youtube {
    border-top: 5px solid #c4032a;
  }
  
  .overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 1.875rem;
    margin-bottom: 5.625rem;
  }
  
  
  
  .sm-box {
    
    grid-template-columns:1fr;
    background-color: var(--box-color);
    padding: 1.875rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--font-p-color);
    border-radius: 10px;
  }
  
  .sm-box:hover {
    background-color: var(--box-hover);
  }
  
  .sm-box img,
  .sm-box .percent {
    justify-self: flex-end;
    width: 1.5625rem;
  }
  
  .number {
    font-size: 3.4375rem;
    padding-left: 0px;
    padding-right: 4.375rem;
    color: #30ce74;
    padding-top: 1.25rem;
    text-align: right;
  }
  h3{
    font-size: 2.9375rem;
    margin: 0;
    color: var(--font-h1-color);
    text-align: center;
  }
  h4{
      margin:0;
      color: var(--box-hover);
      font-size: 1.875rem;
      
  }
  .price {
    font-size: 1.6875rem;
    color: var(--font-p-color);
    text-decoration: line-through;
    padding-top: 5px;
    text-align: right;
    padding-right: 1.25rem;
    
  }
  .unselectable {     -webkit-touch-callout: none;     -webkit-user-select: none;     -khtml-user-select: none;     -moz-user-select: none;     -ms-user-select: none;     user-select: none; }
  
  .percent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
    color: #1db489;
  }
  
  .percent img {
    width: 0.75rem;
    max-height: 6px;
    margin-right: 5px;
  }
  
  @media (min-width: 750px) {
    .dark-mode {
      border-top: unset;
    }
  
    
  
  
    .wrapper {
      width: 100%;
    }
  
    .social-media {
      margin-top: -7.1875rem;
      grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    }
  
    .followers {
      font-size: 4rem;
      

    }
  
    .f-text {
      font-size: 0.8rem;
    }
  
    
  }
  
  @media (min-width:1300px){
    .overview {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /*# sourceMappingURL=style.css.map */

